/**
 *Grocery Shopping starter  (https://store.enappd.com/product/grocery-shopping-starterionic4-store2door)
 *
 * Copyright © 2019-present Enappd. All rights reserved.
 *
 * This source code is licensed as per the terms found in the
 * LICENSE.md file in the root directory of this source tree.
 */

.input {
    border: .5px solid rgb(210, 210, 210);
    background-color: rgba(240, 240, 240, .5);
    border-radius: 3px;
    font-size: .9em !important;
}
.label {
    font-size: 12px;
}
.small {
    font-size: 9px;
    color: rgb(120, 120, 120);
}
.icon {
    font-size: 21px;
}
.bottom {
    position: absolute;
    bottom: 10px;
    width: 90%;
    left: 50%;
    transform: translate(-50%, 0%);
}
.add-payment-div{
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px;
}

.contentSection{
    background: #fff;
}

.cardContentSection {
    display: flex;
    align-items: center;
    
    ion-label {
        width: 100%
    }
}

.cardImage{
    width: 40px;
}

.lockSection{
    display: flex;
    align-items: flex-start;
}

.lockIcon{
    font-size: 21px;
    padding-right: 8px;
}

.secureTextSection{
    padding-top: 5px;
}