<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="title-ios" text-capitalize>Payment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list no-margin color="light">

    <ion-list-header color="light">
      <ion-label>Select payment method</ion-label>
    </ion-list-header>
    <ion-radio-group>
      <ion-card *ngFor="let add of dataService.current_user.billing; let i = index;">

        <ion-card-content>
          <div class="cardContentSection">
            <ion-radio slot="start" value="{{i}}" checked></ion-radio>
            <ion-label padding-start>
              <ion-row class="full" align-items-center>
                <ion-col size="10">
                  <ion-row align-items-center>
                    <p no-margin><strong>XXXX-XXXX-XXXX-{{add.card_number}}</strong></p>
                  </ion-row>
                  <ion-row align-items-center>
                    <p class="small" no-margin>Expiry date: {{add.expiry_date}}</p>
                    <h6 class="small mycolor" *ngIf="i==0" padding-start no-margin>PRIMARY</h6>
                  </ion-row>
                </ion-col>
              </ion-row>
            </ion-label>
            <img [src]="add.image" class="cardImage">
          </div>

        </ion-card-content>
      </ion-card>
    </ion-radio-group>


  </ion-list>
  <ion-row justify-content-center padding-top padding-bottom>
    <ion-text color="primary" (click)="addPayment()">
      {{addNewPayment ? 'Cancel' : 'Add new payment method'}}
    </ion-text>
  </ion-row>

  <div *ngIf="addNewPayment" class="add-payment-div contentSection">
    <ion-row>
      <ion-col>
        <div>
          <ion-button fill="outline" (click)="SaveCard()" class="saveBtn" float-right>Save</ion-button>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-text><span class="label">Credit/Debit Number</span></ion-text>
        <ion-input class="input" padding-horizontal type="number" placeholder="Credit/Debit Number"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-text><span class="label">Card Type</span></ion-text>
        <ion-select placeholder="Select Card Type" class="input" [(ngModel)]="cardDetails.cardType">
          <ion-select-option value="visa">VISA</ion-select-option>
          <ion-select-option value="master">Master Card</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-text><span class="label">Security Code(CVV)</span></ion-text>
        <ion-input class="input" padding-horizontal type="number" placeholder="CVV"></ion-input>
      </ion-col>
      <ion-col>
        <ion-text><span class="label">Expiry Date</span></ion-text>
        <ion-input class="input" placeholder="MM/YY" padding-horizontal></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h5 no-margin class="label">Billing Zip/Postal Code</h5>
        <h6 class="small">The zip or postal code from the address registered for this card</h6>
      </ion-col>
      <ion-col>
        <ion-input class="input" placeholder="Zip/Postal Code" padding-horizontal></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="lockSection">
        <div>
          <ion-icon name="lock" class="icon" class="lockIcon"></ion-icon>
        </div>
        <div class="secureTextSection">
          <h5 no-margin class="label">Secure Payment</h5>
          <h6 class="small" no-margin>Trusted by over 500 million shoppers in 50 countries</h6>
        </div>

      </ion-col>
    </ion-row>
  </div>
  <ion-list>
    <ion-radio-group>
      <ion-list-header color="light">
        <ion-label>Delivery Address</ion-label>
      </ion-list-header>

      <ion-item *ngFor="let add of dataService.current_user.address; let i = index;">
        <ion-label>
          <ion-row align-items-center>
            <p no-margin><strong>{{add.name}}</strong></p>
            <h6 class="small mycolor" *ngIf="i==0" padding-start>PRIMARY</h6>
          </ion-row>
          <ion-row>
            <p no-margin>{{add.flat}}</p>
          </ion-row>
          <ion-row>
            <p no-margin>{{add.locality}}</p>
          </ion-row>
          <ion-row>
            <p no-margin>{{add.nickName}}</p>
          </ion-row>
        </ion-label>

        <ion-radio slot="start" value="{{i}}" checked></ion-radio>
      </ion-item>

    </ion-radio-group>
  </ion-list>
</ion-content>

<ion-footer (click)="done()">
  <ion-toolbar text-center>
    <ion-button color="primary" expand="block">Pay ₹{{cart.grandTotal}} </ion-button>
  </ion-toolbar>
</ion-footer>