/**
 *Grocery Shopping starter  (https://store.enappd.com/product/grocery-shopping-starterionic4-store2door)
 *
 * Copyright © 2019-present Enappd. All rights reserved.
 *
 * This source code is licensed as per the terms found in the
 * LICENSE.md file in the root directory of this source tree.
 */
 
/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #f53d3d;
  --ion-color-primary-rgb: 245,61,61;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #d83636;
  --ion-color-primary-tint: #f65050;

  /** secondary **/
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-primaryBold: #f4f5f8;
  --ion-color-primaryBold-rgb: 244, 244, 244;
  --ion-color-primaryBold-contrast: #000000;
  --ion-color-primaryBold-contrast-rgb: 0, 0, 0;
  --ion-color-primaryBold-shade: #d7d8da;
  --ion-color-primaryBold-tint: #f5f6f9;


  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --ion-font-family: 'Abel', sans-serif;
}
// @import url('../assets/fonts/Abel-Regular.ttf');
$font-path: "../assets/fonts";

@font-face {
  font-family: 'Abel';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/Abel-Regular.ttf');
 }

$font-family-base: 'Abel';
$font-family-ios-base: 'Abel';
$font-family-md-base: 'Abel';
$font-family-wp-base: 'Abel';

ion-content{
  --background:#eaeaea;
}

.colorWhite{
  --background:#fff;
  background: #fff;
}

.primaryColorSection{
 color: var(--ion-color-primary);
}

.font18{
  font-size: 20px !important;
}

.dFlex{
  display: flex;
}
.dFlexAlignItemCenter{
  display: flex;
  align-items: center;
}
.dFlexAlignItemBase{
  display: flex;
  align-items: baseline;
}
.dFlexJustifyContentSpaceBt{
  display: flex;
  justify-content: space-around;
}
.dFlexJustifyContentSpaceBetween{
  display: flex;
    justify-content: space-between;
}
.dFlexRow{
  display: flex;
  flex-direction: column;
}

.whiteColor{
  color:#fff;
  --color:#fff;
}

.textBold{
  font-weight: bold !important;
}

.pRelative{
  position: relative;
}

.cartQuantity {
  position: absolute;
  width: 17px;
  height: 17px;
  border: 1px solid var(--ion-color-primary-contrast);
  right: 0;
  background: var(--ion-color-danger);
  border-radius: 45px;
  top: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 11px;
}

.topSection{
  display: flex;
    justify-content: space-between;
    padding: 0 16px;
    padding-top: 16px;
    align-items: baseline;

    ion-lable{
      font-size: 18px;
    }
}

.rateUs{
  --background:transparent;
  background:transparent;
}

.btnRadius{
  --border-radius:5px;
  border-radius:5px;
}

.productQty{
  color: #000;
  font-weight: bold;
}

.cardBorderRadius{
  --border-radius: 8px;
  border-radius: 8px;
}