<ion-radio-group>
    <ion-item *ngFor="let add of dataService.current_user.address; let i = index;">
      <ion-label>
        <ion-row align-items-center>
          <p no-margin><strong>{{add.name}}</strong></p>
          <h6 class="small mycolor" *ngIf="i==0" padding-start>PRIMARY</h6>
        </ion-row>
        <ion-row>
          <p no-margin>{{add.flat}}</p>
        </ion-row>
        <ion-row>
          <p no-margin>{{add.locality}}</p>
        </ion-row>
        <ion-row>
          <p no-margin>{{add.nickName}}</p>
        </ion-row>
      </ion-label>

      <ion-radio slot="start" value="{{i}}" checked></ion-radio>
    </ion-item>

  </ion-radio-group>

  <ion-card class="contentSection" (click)="addAddress()">
      <ion-card-content>
        <div class="dFlexAlignItemCenter">
            <ion-icon name="add-circle-outline" class="iconSize fontSize"></ion-icon>
          <h5 padding-start class="fontSize">Add New Address</h5>
        </div>
      </ion-card-content>
  </ion-card>
