/**
 *Grocery Shopping starter  (https://store.enappd.com/product/grocery-shopping-starterionic4-store2door)
 *
 * Copyright © 2019-present Enappd. All rights reserved.
 *
 * This source code is licensed as per the terms found in the
 * LICENSE.md file in the root directory of this source tree.
 */




.inputBorder{
    border-bottom:1px solid #a09b9b;
}
.pinInputSection{
    display: flex;
    align-items: flex-end;
}

.active{
    --background:var(--ion-color-primary);
    background:var(--ion-color-primary);
    padding: 2px 5px;
    border-radius: 3px;
}
.btnOutline{
    border:1px solid var(--ion-color-primary);
    --border:1px solid var(--ion-color-primary);
    border-radius: 5px;
}
.homeBtn{
    max-width: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 16px;
    
}

.officeBtn{
    margin-left: 10px;
    max-width: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 16px;
    
}
.BtnSection{
    display: flex;
}
.btnColorWhite{
    color:#fff;
}
.btnColorBlack{
    color:#000;
}
.contentSection{
    background: #fff;
}