<div padding class="contentSection" margin-bottom>
  <ion-row>
    <ion-col>
      <ion-label>
        Check Delivery
      </ion-label>
    </ion-col>
  </ion-row>

  <ion-row class="pinInputSection">
    <ion-col size="6">
      <ion-input placeholder="Enter Your Pin" type="tel" maxlength="6" class="inputBorder"></ion-input>
    </ion-col>
    <ion-col size="6">
      <ion-button expand="block" fill="solid" size="small">Submit</ion-button>
    </ion-col>
  </ion-row>

  <ion-row class="dFlexJustifyContentSpaceBetween deliverytype" padding-top>
    <ion-text (click)="addAddress('cashDelivery')">Cash on Delivery</ion-text>
    <ion-text (click)="addAddress('freeShipping')">Free Shipping</ion-text>
    <ion-text (click)="addAddress('deliveryDays')"> Delivery in 3-6 Days</ion-text>
  </ion-row>
</div>