<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" color="light">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="title-ios" text-capitalize>categories</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <std-accordian *ngFor="let item of categoryItems" [title]="item.name" [image]="item.image" [label]="item.label"
    [desc]="item.desc">
    <ion-card class="childCard" no-margin padding-top>
      <ion-row class="CardrowSection" margin-bottom>
        <ion-col no-padding (click)="goToProducts(item,item.children)" class="cardCol" mdWavesEffect size="6" *ngFor="let child of item.children">
          <ion-card class="childCardSection">
            <img class="child" src="{{child.image}}" alt="">
            <ion-card-content>
              <span class="under">{{child.name}}</span>
              <ion-row class="bottom-text text-center green center-xs">
                <span class="h-off"> {{child.off}}</span>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-card>
  </std-accordian>
</ion-content>