/**
 *Grocery Shopping starter  (https://store.enappd.com/product/grocery-shopping-starterionic4-store2door)
 *
 * Copyright © 2019-present Enappd. All rights reserved.
 *
 * This source code is licensed as per the terms found in the
 * LICENSE.md file in the root directory of this source tree.
 */


.contentSection{
    
    margin: 8px;
    margin: 8px;
    
  }
.card-header{
    background-color: white;
    color:rgb(12, 11, 11);
}
.card-content{
}
.sideImg{
  height:80px;
  width:100px;
  float: left;
  margin-top: 40px;
}
.title{
  margin-top:20px;
  margin-left:16px;
  font-size: 22px;
}
.colorChange{
  background-color: var(--ion-color-primary)
}

.labels{
  margin-left:7px;
}

.des{
  margin-left:16px;
  font-size: 18px;
}


.discountSection {
    background: #15bf15;
    color: #fff;
    position: absolute;
    padding: 6px 16px;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 4px;
    left: 5px;
}

.iconBtn{
    position: absolute;
    right: -10px;
 
    .icons{
        float:right;
        font-size: 24px;
            margin-top: 10px;
            margin-left: 10px;
            margin-right: 0px;
            zoom:1.5;
    }
}

.minheight{
    background:var(--ion-color-primary);
    scroll-behavior: smooth;
}
.carminHeight{
    min-height: 150px;
    background: #fff;
}

.titleSection{
    white-space: nowrap;
    width: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.textColorWhite{
    color:#fff;
    color:var(--ion-color-light)
}
.textColorBlack{
    color: #000;
    color:var(--ion-color-dark)
}

.accordingContentSection{
    margin:0 3px;
}

