/**
 *Grocery Shopping starter  (https://store.enappd.com/product/grocery-shopping-starterionic4-store2door)
 *
 * Copyright © 2019-present Enappd. All rights reserved.
 *
 * This source code is licensed as per the terms found in the
 * LICENSE.md file in the root directory of this source tree.
 */



.discountSection {
    background: #15bf15;
    color: #fff;
    position: absolute;
    padding: 4px 8px;
    border-radius: 5px;
    font-weight: bold;
    margin-top: -5px;
    left: 10px;

    ion-label{
        font-size: 14px;
    }
}

ion-list{
    --background:transparent;
    background:transparent;

}

.cardSection{
    background: #fff;
    margin: 6px;
    margin-top: 0;
    max-height: 150px;
}
.productSection{
    display: flex;
    align-items: center;
    padding-bottom: 16px;
    padding-top: 10px;
    width: 100%;
}
.imageSection{
    width: 36%;
    img{
        // width: 65%;
    }
}

.productTitle{
    width: 40%;

}
.productCartSection{
    width: 20%;
}

.segmentBtn{
    min-width: 30px;
    max-width: 40px;
}

.red{
    color:red;
    font-weight: bold;
}
.orange{
    color:orange;
    font-weight: bold;
}
.green{
    color:green;
    font-weight: bold;
}