/**
 *Grocery Shopping starter  (https://store.enappd.com/product/grocery-shopping-starterionic4-store2door)
 *
 * Copyright © 2019-present Enappd. All rights reserved.
 *
 * This source code is licensed as per the terms found in the
 * LICENSE.md file in the root directory of this source tree.
 */


.phonetopSection{
    margin-top: 15%;
}


.phoneSection{
    border: 1px solid #695e5e;
    display: flex;
    ion-row{
        width: 100%;
    }
    .inputDiv{
        display: flex;
        align-items: center;
    }
}
ion-select.select-placeholder {
    color: currentColor;
    opacity: 1;
    --opacity: 1;
}
ion-select{
    opacity: 1;
    --opacity: 1;
}

.item_input{
    padding-left:5px;
}
