<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="title-ios" text-capitalize>Login</ion-title>
    <ion-button slot="end" mode="ios" class="pRelative" (click)="skip()">
      <ion-label>Skip</ion-label>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div>
    <ion-text text-center>
      <h3 class="" padding-horizontal>Please provide your Mobile number to Login/Sign Up on Store2Door</h3>
    </ion-text>
  </div>
  <div class="phonetopSection">
    <div class="phoneSection">
      <ion-row>
        <ion-col size="3">
          <ion-select [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="India" [(ngModel)]="selectedPhoneCode"
            mode="ios">
            <ion-select-option *ngFor="let item of phoneCodeList" value={{item.dial_code}} selected>{{item.name}}
            </ion-select-option>
          </ion-select>
        </ion-col>
        <ion-col size="9">
          <div color="medium" class="inputDiv">
            <ion-text slot="start">{{selectedPhoneCode}}</ion-text>
            <ion-text slot="start" *ngIf="!selectedPhoneCode">+91</ion-text>
            <ion-input type="tel" class="item_input" [(ngModel)]="phoneNumber" maxlength="10" clearInput></ion-input>
          </div>
        </ion-col>
      </ion-row>
    </div>
    <div class="policyText" text-center>
      <ion-button mode="md" expand="full" color="danger" margin-top (click)="gotVerification()">Next
      </ion-button>
    </div>
  </div>

</ion-content>