<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start" color="light">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="title-ios" text-capitalize>Offer</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="contentSection" *ngFor="let offer of offerList">
    <img [src]="offer.imageUrl">
    <ion-card-header>
      <ion-card-title>{{offer.title}} | {{offer.date}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-label>{{offer.discount}}</ion-label> <br />
      <ion-label><b>Code: </b>{{offer.couponCode}}</ion-label><br />
      <ion-label><b>Min Order Value: </b> {{offer.minOrder}}</ion-label><br />
    </ion-card-content>
  </ion-card>
</ion-content>