/**
 *Grocery Shopping starter  (https://store.enappd.com/product/grocery-shopping-starterionic4-store2door)
 *
 * Copyright © 2019-present Enappd. All rights reserved.
 *
 * This source code is licensed as per the terms found in the
 * LICENSE.md file in the root directory of this source tree.
 */



.contentSection{
    background: #fff;
    margin: 8px;
  }

  ion-card-title{
    font-size: 22px;
    font-weight: bold;
  }

  ion-label{
    font-size: 20px;
    color: #000
  }