/**
 *Grocery Shopping starter  (https://store.enappd.com/product/grocery-shopping-starterionic4-store2door)
 *
 * Copyright © 2019-present Enappd. All rights reserved.
 *
 * This source code is licensed as per the terms found in the
 * LICENSE.md file in the root directory of this source tree.
 */



.cartItems{
    font-size: 14px;
}
.topTitle{
    font-size: 18px;
}
.cartTopSection{
    height: 100%;
}
.cartTextSection{
    align-items: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cartIcon{
    font-size: 30px;
}

.footerCartSection{
    display: flex;
    justify-content: space-between;
}

.yourSaving{
    border-top:1px solid #000;
}
.textPadding{
    padding:10px;

    h5{
        color: #000;
        font-size: 16px;
    }
}

.contentSection{
    background: #fff;
    margin: 8px;
  }

  .discountSection {
    background: #15bf15;
    color: #fff;
    position: absolute;
    padding: 4px 8px;
    border-radius: 5px;
    font-weight: bold;
    margin-top: -5px;
    left: 10px;

    ion-label{
        font-size: 14px;
    }
}
.productSection{
    display: flex;
    align-items: center;
    padding-bottom: 16px;
    padding-top: 16px;
}
.imageSection{
    width: 36%;
    img{
        // width: 65%;
    }
}

.productTitle{
    width: 40%;

}
.productCartSection{
    width: 20%;
}

.segmentBtn{
    min-width: 30px;
    max-width: 40px;
    height: 80px;
}

.removeBtn{
    position: absolute;
    top: 0;
    right: 5px;
}

