<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div class="dFlexRow deliverySection">
      <ion-note class="whiteColor">Delivery Location</ion-note>
      <div>
        <ion-label>{{locationAddress}}</ion-label>
        <ion-icon name="create" mode="md" (click)="addLocation()"></ion-icon>
      </div>

    </div>

    <ion-button slot="end" mode="ios" class="pRelative" (click)="cartPage()">
      <ion-icon slot="icon-only" name="cart"></ion-icon>
      <span class="cartQuantity">{{cart.productQty}}</span>
    </ion-button>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-searchbar color="light" md="ios" (click)="searchPage()"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="slideSection">
        <ion-slides pager="true" [options]="slideOpts" #ionSlides (ionSlidesDidLoad)="slidesDidLoad(slide)">
          <ion-slide *ngFor="let slide of prodoctSlides">
            <img [src]="slide">
          </ion-slide>
        </ion-slides>
      </div>
    
    
      <!--Accordian Component location:- components/accordian-->
      <std-accordian *ngFor="let item of categoryItems" [title]="item.name" [image]="item.image" [label]="item.label"
        [desc]="item.desc">
        <ion-card class="childCard" no-margin padding-top>
          <ion-row class="CardrowSection" margin-bottom>
            <ion-col no-padding (click)="goToProducts(item,item.children)" class="cardCol" mdWavesEffect size="6" *ngFor="let child of item.children">
              <ion-card class="childCardSection">
                <img class="child" src="{{child.image}}" alt="">
                <ion-card-content>
                  <span class="under">{{child.name}}</span>
                  <ion-row class="bottom-text text-center green center-xs">
                    <span class="h-off"> {{child.off}}</span>
                  </ion-row>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-card>
      </std-accordian>

  <!--Top Saver Component location:- components/top-saver-->
  <top-savers></top-savers>

  <!--Best Offer Component location:- components/best-offers-->
  <best-offers></best-offers>

  <!--Popular Deals Component location:- components/popular-deals-->
  <popular-deals></popular-deals>

  <!--Short Offers Component location:- components/short-offers-->
  <short-offers></short-offers>

</ion-content>